

// HEADER
// -------------------------------------------

div.banner{
    padding: 56px 0 0 10%;
    height:100vh;
    background-color: rgba(173, 216, 230, 0.3);
    background-image: url(../../images/banner.JPG);
    background-repeat: no-repeat;
    background-position: -10em 0;
    background-size: auto 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include breakpoint(mobile){
        padding-left:0;
        justify-content: flex-start;
    }
}

.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:20px;
    width:60%;
    height:100%;
    padding:0 10%;
    background-color: rgb(173, 216, 230);

    @include breakpoint(mobile){
        width:100%;
        color:#fff;
        padding-left:5%;
        padding-right:5%;
        background-color: rgba(0, 0, 0, 0.6);
        // backdrop-filter:blur(6px);
    }

    p{
        font-size:fontSize(level_4);
        font-family: $title_font;

        @include breakpoint(mobile){
            font-size: fontSize(level_5);
        }
    }

    p.salutation{
        font-family: $title_font;
        font-weight: 500;
    }

    h1 span{
        font-size: fontSize(level_2);

        @include breakpoint(mobile){
            font-size: fontSize(level_3);
        }

        &:nth-child(2){
            display: block;
            width:max-content;
            color:black;
            opacity:.2;

            @include breakpoint(mobile){
                color:#fff;
            }
        }
    }
}


// ASIDE QUICK CONTACT
//----------------------------

.quick-contact{
    border-radius: 25px;
    position:fixed;
    right:30px;
    bottom:30px;
    transition: background-color .2s;

    &:hover{
        background-color: lighten($primary_color, 10);
    }

    &::before, &::after{
        display:none;    
    }

    @include breakpoint(mobile){
        @include flex_center;
        width:40px;
        height:40px;

        span{
            display:none;
        }
    }
}

.popup{
    background-color: #f1f1f1;
    border-radius: 12px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    padding:12px;
    position:fixed;
    right:30px;
    bottom:80px;
    transition: background-color .2s;
    transform: scale(0);
    visibility: hidden;
    z-index:100;

    &-show{
        visibility: visible;
        transform: scale(1);
        transition: scale .2s;
    }

    a{
        display: flex;
        gap:12px;
        padding:10px 16px;
        min-width: 180px;
        font-size: fontSize(normal);
        transition: color .2s;

        &:not(:last-child){
            border-bottom:1px solid rgb(168, 168, 168);
        }

        &:hover{
            color:$primary_color;
        }
    }
}

// SECTION - WHO AM I
// -------------------------------

section.who-am-i{
    .right-side{
        @include flex_center;
        @include breakpoint(mobile){
            padding:30px 5%;
        }

        img{
            width:300px;

            @include breakpoint(mobile){
                width:200px;
            }
        }
    }
}

// SECTION - CONTACTS
// --------------------------------

section.contacts{
    background-color: #f0f0f0;

    .left-side, .right-side{
        
        @include breakpoint(mobile){
            min-height: unset;
        }
    }

    .left-side p{
        
        span{
            display: block;
            line-height:1.5;
        }

        span:first-child{
            font-size: fontSize(level_4);
            font-weight: 600;
        }

        span:not(:first-child){
            font-size: fontSize(leve_3);
            font-weight: 300;
        }
    }

    .right-side{
        background-color: lighten($color: $secondary_color, $amount: 38);
    
        .contacts-list{
            position:relative;
            padding-left:40px;

            a{
                display: block;
                margin:20px 0;
            }

            a span:first-child{
                font-size: fontSize(level_5);

                @include breakpoint(mobile){
                    font-size: fontSize(normal);
                }
            }

            a span:last-child{
                font-size: fontSize(normal);
                font-style: italic;
                color:#929292;
                display: block;

                @include breakpoint(mobile){
                    font-size: 1.4rem;
                }
            }
        }

        .contacts-list-icons-container{
            height:100%;
            width:6px;
            background-color: $primary_color;
            border-radius: 3px;
            position:absolute;
            left:0;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            i{
                @include flex_center;
                width: 25px;
                height: 25px;
                color: #FFF;
                border-radius:50%;
                background-color: $secondary_color;
            }
        }
    }
}


// SECTION - COMPETENCES | UTILS

section.utils{
    padding-left:0;
    padding-right:0;
    padding-bottom:0;

    .description{
        padding:0 10%;
        
        @include breakpoint(mobile){
            padding: 0 5%;
        }
    }

    .utils-container{
        @include flex_center;
        flex-wrap: wrap;
        gap:30px;
        background-color: #f0f0f0;
        padding:40px 10%;
        padding-bottom: auto;
        width:100%;
        height:100%;

        @include breakpoint(mobile){
            padding:20px 0;
        }

        .util{
            display: flex;
            flex-direction:column;
            gap:16px;
            width:280px;
            max-width: 280px;
            padding:16px;
            background-color: #fff;
            font-size:fontSize(normal);
            border-radius:8px;
            box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);

            .header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: fontSize(level_5);

                img{
                    width:30px;
                }
            }

            .level{
                font-size:fontSize(level_3);
                font-weight: 700;
            }

            .utility{
                text-align: center;
            }
        }
    }
}

.util .progressbar{
    background-color: $primary_color;
    width:100%;
    height:8px;
    border-radius: 8px;
    overflow: hidden;

    .progress-value{
        height: 100%;
        background-color: $secondary_color;

        &.photoshop{
            width:90%;
        }

        &.illustrator{
            width:85%;
        }

        &.figma{
            width:92%;
        }
    }
}


// SECTION - STATISTICS
// ---------------------------------

section.statistics{

    .stats-container{
        @include flex_center;
        flex-wrap: wrap;
        gap:40px;

        .stat{
            @include flex_center(column);
            gap:16px;
            width: fit-content;
        }

        .stat p:first-child{
            width:50px;
            height: 50px;
            padding:50px;
            border-radius:50%;
            background-color: $secondary_color;
            color:#fff;
            font-size: fontSize(level_4);
            font-weight: 600;
            text-align:center;

            @include flex_center;
        }

        .stat p:last-child{
            display: block;
            text-align: center;
            font-size:fontSize(normal);
            font-weight: 300;
            width:180px;
        }
    }

}


// SECTION SERVICES
// ----------------------

section.services{
    background-color: $primary_color;
    border-top: 12px solid;
    border-bottom: 12px solid;
    border-color:$secondary_color;

    .main-title, p{
        color:#fff;

        &::after{
            background-color: #fff;
        }
    }

    .services-container{
        @include flex_center;
        flex-wrap: wrap;
        gap:30px;
        max-width: 930px;
    }

    .services-container .service{
        @include flex_start(column);
        gap:12px;
        width:280px;
        min-width:280px;
        background-color: rgba(255, 255, 255, 0.05);
        border:1px solid $secondary_color;
        border-radius:6px;
        padding:16px;

        i{
            font-size: fontSize(level_3);
            color:$secondary_color;
        }

        &-name{
            color:#fff;
            font-size: fontSize(level_4);
        }

        &-description{
            font-size: fontSize(normal);
        }
    }
}


// SECTION PROJECTS
// -----------------

section.projects{
    padding-left:0;
    padding-right:0;

    .description{
        padding:0 10%;
        
        @include breakpoint(mobile){
            padding: 0 5%;
        }
    }

    .tabs-container{
        @include flex_center;
        gap:12px;
        background-color: $primary_color;
        border-bottom:8px solid $secondary_color;
        width:100%;
        padding:10px 10%;

        @include breakpoint(mobile){
            @include flex_start;
            overflow-x: scroll;
            overflow-y: hidden;
            padding:10px 5%;
            border-width:4px;
        }
    }

    .tabs-container .tab{
        color:#fff;
        background-color: transparent;
        font-size: fontSize(normal);
        text-transform: uppercase;
        padding:0 12px;
        position:relative;
        display:block;
        min-width:max-content;

        &:hover{
            font-weight: 600;
        }

        &.active{
            font-weight: 900;
        }

        &:not(:nth-child(1))::before{
            content:"";
            width:1px;
            height:20px;
            background-color:rgba(255, 255, 255, 0.3);
            position: absolute;
            top:50%;
            left:-5%;
            transform:translateY(-50%);
        }

        &.active::after{
            content: "";
            width:35px;
            height:35px;
            background-color: $secondary_color;
            position:absolute;
            z-index: -1;
            bottom:-25px;
            left:50%;
            transform: translateX(-50%) rotate(45deg);

            @include breakpoint(mobile){
                // width:25px;
                // height:25px;
                // bottom:-15px; 
                width:20px;
                height:20px;
                bottom:-26px;
                z-index: 1;
            }
        }
    }

    .gallery{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap:16px;
        padding:20px 10%;

        @include breakpoint(mobile){
            padding:0 5%;
        }
     
        li{
            flex-grow: 1;
            height:250px;
            background-color: rgba(255, 255, 255, 1);
            transition: all 1s .3s;
        }

        li.web, li.ui{
            display:none;
        }

        img{
            width:100%;
            height:100%;
            object-fit: cover;
            transition: transform .3s;

            &:hover{
                transform: scale(1.05);
                // object-fit: scale-down;  // Don't know how to make a transition on this property
            }
        }
    }
}



// Animations
// --------------------------------------

.obs{
    opacity:1;
    transform:traslateY(0);
    transition: transform .5s, opacity .5s;

    &--hide{
        opacity:0;
        transform: translateY(50px);
    }
}

@media (prefers-reduced-motion:reduce){
    .obs{
        opacity:1;
        transform:traslate(0, 0);
        transition: transform 0s, opacity 0s;
    }
}