

// HEADER
// -------------------------------------------

div.banner{
    padding: 60px 10% 0;
    height:80vh;
    background-color: rgba(173, 216, 230, 0.5);
    // background-image: url(../../images/banner.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.banner-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:20px;
    width:50%;

    p{
        font-size:fontSize(level_4);
    }

    p.salutation{
        font-family: $title_font;
        font-weight: 500;
    }

    h1 span{
        font-size: fontSize(level_2);

        &:nth-child(2){
            display: block;
            width:max-content;
            color:black;
            opacity:.05;
        }
    }
}



// SECTION - WHO AM I
// -------------------------------

// section.who-am-i{

// }



// SECTION - CONTACTS
// --------------------------------

section.contacts{

    .left-side{
        background-color: #d8d8d8;
        
        p span{
            display: block;
            line-height:1.5;
        }

        p span:first-child{
            font-size: fontSize(level_4);
            font-weight: 600;
        }

        p span:not(:first-child){
            font-size: fontSize(leve_3);
            font-weight: 300;
        }
    }

    .right-side{
        background-color: lighten($color: $secondary_color, $amount: 38);
    
        .contacts-list{
            position:relative;
            padding-left:40px;


            a{
                display: block;
                margin:20px 0;
            }

            a span:first-child{
                font-size: fontSize(level_5);
            }

            a span:last-child{
                font-size: fontSize(normal);
                font-style: italic;
                color:#929292;
                display: block;
            }
        }


        .contacts-list-icons-container{
            height:100%;
            width:6px;
            background-color: $primary_color;
            border-radius: 4px;
            position:absolute;
            left:0;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            i{
                @include flex_center;
                width: 20px;
                height: 20px;
                color: $secondary_color;
                border-radius:50%;
                background-color: $secondary_color;
                // transform: translateX(-50%)

            }
        }
    }
}