

// HEADER
// -------------------------------------------

div.banner{
    padding: 60px 10% 0;
    height:80vh;
    background-color: rgba(173, 216, 230, 0.5);
    // background-image: url(../../images/banner.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.banner-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:20px;
    width:50%;

    p{
        font-size:fontSize(level_4);
    }

    p.salutation{
        font-family: $title_font;
        font-weight: 500;
    }

    h1 span{
        font-size: fontSize(level_2);

        &:nth-child(2){
            display: block;
            width:max-content;
            color:black;
            opacity:.05;
        }
    }
}



// SECTION - WHO AM I
// -------------------------------

// section.who-am-i{

// }



// SECTION - CONTACTS
// --------------------------------

section.contacts{

    .left-side{
        background-color: #cecece;
        justify-content: center;
        
        p span{
            display: block;
            line-height:1.5;
        }

        p span:first-child{
            font-size: fontSize(level_4);
            font-weight: 600;
        }

        p span:not(:first-child){
            font-size: fontSize(leve_3);
            font-weight: 300;
        }
    }

    .right-side{
        background-color: lighten($color: $secondary_color, $amount: 38);
    }
}