

.btn{
    display: flex;
    justify-content: center;
    gap:10px;
    width:max-content;
    padding:10px 20px;
    font-size:fontSize(level_5);

    &-default{
        background-color: $primary_color;
        color:#fff;
    }
}   



