

// Site fonts

html {
    font-size: 62.5%;   // This is a basical convertion technique : 1rem == 10px
}

h1, h2, h3, h4, h5, h6{
    font-family: $title_font;
}

p, a{
    font-family: $default_font;
}