@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

input[type=reset],
input[type=submit],
input[type=button],
button {
  border: none;
  outline: none;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", "sans-serif";
}

p, a {
  font-family: "Source Sans Pro", "sans-serif";
}

.btn {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: max-content;
  padding: 10px 20px;
  font-size: 2rem;
  border: 2px solid #fff;
}
.btn-default {
  background-color: #0b5672;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  background-color: #0b5672;
  border-bottom: 2px solid #4ab7e0;
  position: fixed;
  width: 100%;
  z-index: 100;
}
@media screen and (max-width: 978px) {
  .navbar {
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.navbar .nav-brand {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-weight: 400;
  font-size: 2rem;
}
@media screen and (max-width: 768px) {
  .navbar .nav-brand {
    margin: 0 auto;
  }
}
.navbar .nav-brand img {
  width: 35px;
}
.navbar .nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 10px;
  font-size: 1.6rem;
}
@media screen and (max-width: 768px) {
  .navbar .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: #0b5672;
    width: 60%;
    height: 98vh;
    gap: 0;
    position: absolute;
    top: 46px;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.3s;
  }
  .navbar .nav-menu--show {
    transform: translateX(0);
    z-index: 10;
  }
}
.navbar .nav-menu .nav-link {
  display: block;
  color: #fff;
  padding: 20px;
  transition: color 0.2s, background-color 0.2s;
  position: relative;
}
@media screen and (max-width: 768px) {
  .navbar .nav-menu .nav-link {
    padding: 10px;
    margin: 10px 0;
  }
}
.navbar .nav-menu .nav-link::after {
  content: "";
  width: 0;
  height: 4px;
  border-radius: 4px 4px 0 0;
  background-color: #4ab7e0;
  position: absolute;
  bottom: 0px;
  left: 0;
  transition: width 0.2s;
}
@media screen and (max-width: 768px) {
  .navbar .nav-menu .nav-link::after {
    height: 0;
    width: 4px;
    border-radius: 0 4px 4px 0;
  }
}
.navbar .nav-menu .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.navbar .nav-menu .nav-link:hover::after {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .navbar .nav-menu .nav-link:hover::after {
    height: 100%;
    width: 4px;
  }
}
.navbar .nav-menu .nav-link.active {
  font-weight: 700;
}
.navbar .nav-menu .nav-link.active::after {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .navbar .nav-menu .nav-link.active::after {
    width: 4px;
    height: 100%;
  }
}
.navbar .phone-number {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  padding: 4px 12px;
  font-size: 1.4rem;
  transition: background-color 0.2s;
}
@media screen and (max-width: 1130px) {
  .navbar .phone-number {
    display: none;
  }
}
.navbar .phone-number:hover {
  background-color: #4ab7e0;
}

.nav-menu li {
  position: relative;
}
@media screen and (max-width: 768px) {
  .nav-menu li {
    width: 100%;
  }
}
.nav-menu li:not(:nth-child(1))::before {
  content: "";
  width: 1px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .nav-menu li:not(:nth-child(1))::before {
    width: 55%;
    height: 1px;
    top: 0;
    left: 12px;
  }
}

.navbar .mobile-icon {
  font-weight: 400;
  font-size: 2rem;
  display: none;
}
@media screen and (max-width: 768px) {
  .navbar .mobile-icon {
    display: flex;
  }
}

.navbar .mobile-icon.contacts {
  align-self: center;
  margin: auto 0 50px;
  flex-direction: column;
}
.navbar .mobile-icon.contacts .help-text {
  font-size: 10px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  padding: 0 10px 10px;
  margin-bottom: 10px;
  position: relative;
}
.navbar .mobile-icon.contacts .help-text::after {
  content: "";
  width: 40%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.navbar .mobile-icon.contacts .contacts-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.navbar .mobile-icon.contacts .contacts-container a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 60px 10%;
}
section .main-title {
  font-size: 3.4rem;
  text-align: center;
  padding-bottom: 20px;
  position: relative;
  max-width: max-content;
}
section .main-title::after {
  content: "";
  width: 50%;
  height: 6px;
  background-color: #0b5672;
  border-radius: 4px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
section .description {
  text-align: center;
  font-size: 1.6rem;
  width: 80%;
}
@media screen and (max-width: 480px) {
  section .description {
    width: 100%;
  }
}

section.container {
  flex-direction: row;
  gap: 0;
  padding: 0;
}
@media screen and (max-width: 480px) {
  section.container {
    flex-direction: column;
  }
}
section.container .left-side {
  padding: 60px 60px 60px 10%;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  section.container .left-side {
    padding-left: 5%;
    padding-right: 5%;
    height: max-content;
  }
}
section.container .right-side {
  padding: 60px 10% 60px 60px;
}
@media screen and (max-width: 480px) {
  section.container .right-side {
    padding-right: 5%;
    padding-left: 5%;
  }
}
section.container .left-side, section.container .right-side {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  height: 100%;
}
@media screen and (max-width: 480px) {
  section.container .left-side, section.container .right-side {
    width: 100%;
  }
}
section.container .left-side .main-title::after, section.container .right-side .main-title::after {
  left: 0;
  transform: translateX(0);
}
section.container .left-side .description, section.container .left-side p, section.container .right-side .description, section.container .right-side p {
  width: 90%;
  font-size: 2rem;
}
section.container .left-side .main-title, section.container .left-side .description, section.container .right-side .main-title, section.container .right-side .description {
  text-align: left;
}

footer {
  background-color: #0b5672;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 30px 10%;
  font-size: 2rem;
  font-weight: 300;
}
@media screen and (max-width: 480px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
footer .follow-invitation {
  padding-bottom: 12px;
  margin-bottom: 12px;
  position: relative;
}
footer .follow-invitation::after {
  content: "";
  height: 4px;
  width: 50%;
  background-color: #4ab7e0;
  border-radius: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media screen and (max-width: 480px) {
  footer .social {
    align-self: flex-start;
  }
}
footer .social .social-links {
  display: flex;
  gap: 12px;
}
footer .social .social-links a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.315);
}

div.banner {
  padding: 60px 10% 0;
  height: 80vh;
  background-color: rgba(173, 216, 230, 0.5);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (max-width: 480px) {
  div.banner {
    justify-content: flex-start;
  }
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 50%;
}
@media screen and (max-width: 480px) {
  .banner-content {
    width: 100%;
  }
}
.banner-content p {
  font-size: 2.4rem;
}
@media screen and (max-width: 480px) {
  .banner-content p {
    font-size: 2rem;
  }
}
.banner-content p.salutation {
  font-family: "Montserrat", "sans-serif";
  font-weight: 500;
}
.banner-content h1 span {
  font-size: 5.56rem;
}
@media screen and (max-width: 480px) {
  .banner-content h1 span {
    font-size: 3.4rem;
  }
}
.banner-content h1 span:nth-child(2) {
  display: block;
  width: max-content;
  color: black;
  opacity: 0.05;
}

section.contacts {
  background-color: #d8d8d8;
}
@media screen and (max-width: 480px) {
  section.contacts .left-side, section.contacts .right-side {
    min-height: unset;
  }
}
section.contacts .left-side p span {
  display: block;
  line-height: 1.5;
}
section.contacts .left-side p span:first-child {
  font-size: 2.4rem;
  font-weight: 600;
}
section.contacts .left-side p span:not(:first-child) {
  font-weight: 300;
}
section.contacts .right-side {
  background-color: #eff9fc;
}
section.contacts .right-side .contacts-list {
  position: relative;
  padding-left: 40px;
}
section.contacts .right-side .contacts-list a {
  display: block;
  margin: 20px 0;
}
section.contacts .right-side .contacts-list a span:first-child {
  font-size: 2rem;
}
section.contacts .right-side .contacts-list a span:last-child {
  font-size: 1.6rem;
  font-style: italic;
  color: #929292;
  display: block;
}
section.contacts .right-side .contacts-list-icons-container {
  height: 100%;
  width: 6px;
  background-color: #0b5672;
  border-radius: 3px;
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
section.contacts .right-side .contacts-list-icons-container i {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  color: #FFF;
  border-radius: 50%;
  background-color: #4ab7e0;
}

section.statistics .stats-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
section.statistics .stats-container .stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: fit-content;
}
section.statistics .stats-container .stat p:first-child {
  width: 50px;
  height: 50px;
  padding: 50px;
  border-radius: 50%;
  background-color: #4ab7e0;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
section.statistics .stats-container .stat p:last-child {
  display: block;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  width: 180px;
}

section.services {
  background-color: #0b5672;
  border-top: 12px solid;
  border-bottom: 12px solid;
  border-color: #4ab7e0;
}
section.services .main-title, section.services p {
  color: #fff;
}
section.services .main-title::after, section.services p::after {
  background-color: #fff;
}
section.services .services-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 930px;
}
section.services .services-container .service {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 12px;
  width: 280px;
  min-width: 280px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid #4ab7e0;
  border-radius: 6px;
  padding: 16px;
}
section.services .services-container .service i {
  font-size: 3.4rem;
  color: #4ab7e0;
}
section.services .services-container .service-name {
  color: #fff;
  font-size: 2.4rem;
}
section.services .services-container .service-description {
  font-size: 1.6rem;
}

section.utils {
  padding-left: 0;
  padding-right: 0;
}
section.utils .utils-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  background-color: #f0f0f0;
  padding: 40px 10%;
  width: 100%;
}
section.utils .utils-container .util {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 280px;
  max-width: 280px;
  padding: 16px;
  background-color: #fff;
  font-size: 1.6rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
section.utils .utils-container .util .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}
section.utils .utils-container .util .level {
  font-size: 3.4rem;
  font-weight: 700;
}
section.utils .utils-container .util .utility {
  text-align: center;
}

.util .progressbar {
  background-color: #0b5672;
  width: 100%;
  height: 8px;
  border-radius: 8px;
  overflow: hidden;
}
.util .progressbar .progress-value {
  height: 100%;
  background-color: #4ab7e0;
}
.util .progressbar .progress-value.photoshop {
  width: 90%;
}
.util .progressbar .progress-value.illustrator {
  width: 85%;
}
.util .progressbar .progress-value.figma {
  width: 92%;
}

section.projects {
  padding-left: 0;
  padding-right: 0;
}
section.projects .tabs-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: #0b5672;
  border-bottom: 8px solid #4ab7e0;
  width: 100%;
  padding: 10px 10%;
}
@media screen and (max-width: 480px) {
  section.projects .tabs-container {
    overflow-x: scroll;
    width: 100%;
  }
}
section.projects .tabs-container .tab {
  color: #fff;
  background-color: transparent;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 0 12px;
  position: relative;
}
section.projects .tabs-container .tab:hover {
  font-weight: 600;
}
section.projects .tabs-container .tab.active {
  font-weight: 900;
}
section.projects .tabs-container .tab:not(:nth-child(1))::before {
  content: "";
  width: 1px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 50%;
  left: -5%;
  transform: translateY(-50%);
}
section.projects .tabs-container .tab.active::after {
  content: "";
  width: 35px;
  height: 35px;
  background-color: #4ab7e0;
  position: absolute;
  z-index: -1;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}
section.projects .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 20px 10%;
}
section.projects .gallery li {
  flex-grow: 1;
  height: 250px;
  background-color: rgb(255, 255, 255);
}
section.projects .gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: transform 0.3s;
}
section.projects .gallery img:hover {
  transform: scale(1.05);
}

.obs {
  opacity: 1;
  transform: traslateY(0);
  transition: transform 0.5s, opacity 0.5s;
}
.obs--hide {
  opacity: 0;
  transform: translateY(50px);
}

@media (prefers-reduced-motion: reduce) {
  .obs {
    opacity: 1;
    transform: traslate(0, 0);
    transition: transform 0s, opacity 0s;
  }
}