@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

input[type=reset],
input[type=submit],
input[type=button],
button {
  border: none;
  outline: none;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", "sans-serif";
}

p, a {
  font-family: "Source Sans Pro", "sans-serif";
}

.btn {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: max-content;
  padding: 10px 20px;
  font-size: 2rem;
}
.btn-default {
  background-color: #0b5672;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  background-color: #0b5672;
  border-bottom: 2px solid #4ab7e0;
  position: fixed;
  width: 100%;
  z-index: 100;
}
@media screen and (max-width: 978px) {
  .navbar {
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.navbar .nav-brand {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-weight: 400;
  font-size: 2rem;
}
@media screen and (max-width: 768px) {
  .navbar .nav-brand {
    margin: 0 auto;
    font-weight: 600;
    font-size: 2rem;
  }
}
.navbar .nav-brand img {
  width: 35px;
}
.navbar .nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 10px;
  font-size: 1.6rem;
}
@media screen and (max-width: 768px) {
  .navbar .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: #0b5672;
    width: 60%;
    height: 98vh;
    gap: 0;
    position: absolute;
    top: 46px;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.3s;
  }
  .navbar .nav-menu--show {
    transform: translateX(0);
    z-index: 10;
  }
}
.navbar .nav-menu .nav-link {
  display: block;
  color: #fff;
  padding: 20px;
  transition: color 0.2s, background-color 0.2s;
  position: relative;
}
@media screen and (max-width: 768px) {
  .navbar .nav-menu .nav-link {
    padding: 10px;
    margin: 10px 0;
  }
}
.navbar .nav-menu .nav-link::after {
  content: "";
  width: 0;
  height: 4px;
  border-radius: 4px 4px 0 0;
  background-color: #4ab7e0;
  position: absolute;
  bottom: 0px;
  left: 0;
  transition: width 0.2s;
}
@media screen and (max-width: 768px) {
  .navbar .nav-menu .nav-link::after {
    height: 0;
    width: 4px;
    border-radius: 0 4px 4px 0;
  }
}
.navbar .nav-menu .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.navbar .nav-menu .nav-link:hover::after {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .navbar .nav-menu .nav-link:hover::after {
    height: 100%;
    width: 4px;
  }
}
.navbar .nav-menu .nav-link.active {
  font-weight: 700;
}
.navbar .nav-menu .nav-link.active::after {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .navbar .nav-menu .nav-link.active::after {
    width: 4px;
    height: 100%;
  }
}
.navbar .phone-number {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  padding: 4px 12px;
  font-size: 1.4rem;
  display: flex;
  gap: 12px;
  transition: background-color 0.2s;
}
@media screen and (max-width: 1130px) {
  .navbar .phone-number {
    display: none;
  }
}
.navbar .phone-number:hover {
  background-color: #4ab7e0;
}

.nav-menu li {
  position: relative;
}
@media screen and (max-width: 768px) {
  .nav-menu li {
    width: 100%;
  }
}
.nav-menu li:not(:nth-child(1))::before {
  content: "";
  width: 1px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .nav-menu li:not(:nth-child(1))::before {
    width: 55%;
    height: 1px;
    top: 0;
    left: 12px;
  }
}

.navbar .mobile-icon {
  font-weight: 400;
  font-size: 2rem;
  display: none;
}
@media screen and (max-width: 768px) {
  .navbar .mobile-icon {
    display: flex;
  }
}

.navbar .mobile-icon.contacts {
  align-self: center;
  margin: auto 0 50px;
  flex-direction: column;
}
.navbar .mobile-icon.contacts .help-text {
  font-size: 10px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  padding: 0 10px 10px;
  margin-bottom: 10px;
  position: relative;
}
.navbar .mobile-icon.contacts .help-text::after {
  content: "";
  width: 40%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.navbar .mobile-icon.contacts .contacts-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.navbar .mobile-icon.contacts .contacts-container a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 60px 10%;
}
section .main-title {
  font-size: 3.4rem;
  text-align: center;
  padding-bottom: 20px;
  position: relative;
}
section .main-title::after {
  content: "";
  width: 50%;
  height: 6px;
  background-color: #0b5672;
  border-radius: 4px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
section .description {
  text-align: center;
  font-size: 1.6rem;
}

div.banner {
  padding: 60px 10% 0;
  height: 80vh;
  background-color: rgba(173, 216, 230, 0.5);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 50%;
}
.banner-content p {
  font-size: 2.4rem;
}
.banner-content p.salutation {
  font-family: "Montserrat", "sans-serif";
  font-weight: 500;
}
.banner-content h1 span {
  font-size: 5.56rem;
}
.banner-content h1 span:nth-child(2) {
  display: block;
  width: max-content;
  color: black;
  opacity: 0.05;
}