

footer{
    background-color: $primary_color;
    color:#fff;
    display:flex;
    justify-content: space-between;
    align-items:flex-end;
    padding:30px 10%;
    font-size: fontSize(level_5);
    font-weight: 300;

    @include breakpoint(mobile){
        @include flex_center(column);
        gap:20px;
        font-size: fontSize(normal);
        padding: 30px 5%;
    }

    .follow-invitation{
        padding-bottom:12px;
        margin-bottom:12px;
        position:relative;

        &::after{
            content: "";
            height:4px;
            width:50%;
            background-color: $secondary_color;
            border-radius: 4px;
            position:absolute;
            bottom:0;
            left:0;

        }
    }

    .social{
        @include breakpoint(mobile){
            align-self:flex-start;
        }
    }

    .social .social-links{
        display: flex;
        gap:12px;

        a{
            @include flex_center;   
            width:40px;
            height:40px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 1);
            transition:border .2s;

            &:hover{
                border:2px solid $secondary_color;
            }

            i.facebook{
                color:#4267B2;
            }
    
            i.instagram{
                color:#ee2a7b;
            }
    
            i.youtube{
                color:#ff0000;
            }
    
            i.twitter{
                color:#1DA1F2;
            }
        }
    }
}