

section{
    @include flex_center(column);
    gap:40px;
    padding:60px 10%;

    @include breakpoint(mobile){
        padding:30px 5%;
    }

    .main-title{
        font-size: fontSize(level_3);
        text-align:center;
        padding-bottom:20px;
        position:relative;
        max-width: max-content;

        @include breakpoint(mobile){
            font-size:fontSize(level_4);
        }
    
        &::after{
            content:"";
            width:50%;
            height:6px;
            background-color: $primary_color;
            border-radius:4px;
            position:absolute;
            bottom:0;
            left:50%;
            transform: translateX(-50%);
        }
    }

    .description{
        text-align: center;
        font-size: fontSize(level_5);
        width:80%;

        @include breakpoint(mobile){
            width:100%;
            font-size: fontSize(normal);
        }
    }
}

section.container{
    flex-direction: row;
    gap:0;
    padding:0;

    @include breakpoint(mobile){
        flex-direction:column;
    }

    .left-side{
        padding: 60px 60px 60px 10%;
        justify-content: center;

        @include breakpoint(mobile){
            padding-left: 5%;
            padding-right: 5%;
            height: max-content;
        }
    }

    .right-side{
        padding: 60px 10% 60px 60px;

        @include breakpoint(mobile){
            padding-right: 5%;
            padding-left:5%;
        }
    }

    .left-side, .right-side{
        display: flex;
        flex-direction: column;
        gap:20px;
        width: 50%;
        height: 100%;

        @include breakpoint(mobile){
            width:100%;
        }

        .main-title::after{
            left:0;
            transform: translateX(0);
        }
    
        .description, p{
            width:90%;
            font-size: fontSize(level_5);

            @include breakpoint(mobile){
                font-size: fontSize(normal);
            }
        }
    
        .main-title, .description{
            text-align: left;
        }
    }
}